https://www.kaggle.com/c/state-farm-distracted-driver-detection/overview

In [2]:
import torch
import torch.nn as nn
import numpy as np
import pandas as pd
import os
import cv2
from sklearn.model_selection import train_test_split

## Data Preprocessing

In [5]:
data = pd.read_csv('data/driver_imgs_list.csv')

In [12]:
data.head()

  subject classname            img
0    p002        c0  img_44733.jpg
1    p002        c0  img_72999.jpg
2    p002        c0  img_25094.jpg
3    p002        c0  img_69092.jpg
4    p002        c0  img_92629.jpg

In [11]:
classes = {}
ct = 0
for i in data.classname.unique():
    classes[i] = ct
    ct += 1
classes # maybe make it one-hot here ?

{'c0': 0,
 'c1': 1,
 'c2': 2,
 'c3': 3,
 'c4': 4,
 'c5': 5,
 'c6': 6,
 'c7': 7,
 'c8': 8,
 'c9': 9}

In [24]:
X = []
y = []
for index, row in data.iterrows():
    print('data/imgs/train' + row.img)
    
    img = ''
    y.append(classes[row.classname])
    if len(y) >= 10:
        break

/img_44733.jpg
/img_72999.jpg
/img_25094.jpg
/img_69092.jpg
/img_92629.jpg
/img_3370.jpg
/img_67639.jpg
/img_58560.jpg
/img_35779.jpg
/img_10012.jpg

## Model

In [ ]:
class CNN(nn.Module):
    def __init__(self):
        super(CNN, self).__init__()